{#{% block content %}#}
{#<form method="post" class="form-group">#}
{#{% csrf_token %}#}
{#{{ form }}#}
{#<button type="submit" class="btn btn-success">Login</button>#}
{#<p>Don't have an account? Create one <a href="/register">Register</a> </p>#}
{#</form>#}
{#{% endblock %}#}


<!doctype html>
<html class="no-js" lang="en">

{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>srtdash - ICO Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{%static 'assets/images/icon/favicon.ico' %}">
    <link rel="stylesheet" href="{%static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/metisMenu.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/slicknav.min.css' %}">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{%static 'assets/css/typography.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/default-css.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/styles.css' %}">
    <link rel="stylesheet" href="{%static 'assets/css/responsive.css' %}">
    <!-- modernizr css -->
    <script src="{%static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>
        <!-- Start datatable css -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.jqueryui.min.css">
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>

 <!-- login area start -->
    <div class="login-area ptb--100">
        <div class="container">
            <div class="login-box ptb--100">
                <form method="post" class="form-group">
                    {% csrf_token %}
                    <div class="login-form-head">
                        <h4>Sign In</h4>
                        <p>Hello there, Sign in and start working now</p>
                    </div>
                    <div class="login-form-body">
                        <div class="form-gp">
                            <input type="text" id="exampleInputEmail1" name="username" placeholder="Username" required>
                            <i class="ti-email"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="form-gp">
                            <input type="password" id="exampleInputPassword1" name="password" placeholder="Password" required>
                            <i class="ti-lock"></i>
                            <div class="text-danger"></div>
                        </div>
                        <div class="row mb-4 rmber-area">
                            <div class="col-6">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                    <label class="custom-control-label" for="customControlAutosizing">Remember Me</label>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a href="#">Forgot Password?</a>
                            </div>
                        </div>

                        {% if form.errors %}
                        <p style="color:red">Your username or password is wrong, Try again.</p><br>
                        {% endif %}

                        <div class="submit-btn-area">
                            <button id="form_submit" type="submit">Login <i class="ti-arrow-right"></i></button>
                        </div>
                        <div class="form-footer text-center mt-5">
                            <p class="text-muted">Don't have an account? <a href="/register">Sign up</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- login area end -->
            </div>


    <!-- jquery latest version -->
    <script src="{%static 'assets/js/vendor/jquery-2.2.4.min.js '%}"></script>
    <!-- bootstrap 4 js -->
    <script src="{%static 'assets/js/popper.min.js' %}"></script>
    <script src="{%static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{%static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{%static 'assets/js/metisMenu.min.js' %}"></script>
    <script src="{%static 'assets/js/jquery.slimscroll.min.js' %}"></script>
    <script src="{%static 'assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- start chart js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <!-- start highcharts js -->
    <script src="https://code.highcharts.com/highcharts.js '%}"></script>
    <!-- start zingchart js -->
    <script src="https://cdn.zingchart.com/zingchart.min.js '%}"></script>
    <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
    </script>
    <!-- all line chart activation -->
    <script src="{%static 'assets/js/line-chart.js' %}"></script>
    <!-- all pie chart -->
    <script src="{%static 'assets/js/pie-chart.js' %}"></script>
    <!-- others plugins -->
    <script src="{%static 'assets/js/plugins.js' %}"></script>
    <script src="{%static 'assets/js/scripts.js' %}"></script>
     <!-- Start datatable js -->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap.min.js"></script>
</body>

</html>
